<html>
    <head>
        <title>Django Teste</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Teste</a></h1>
        </div>

        <div>
            <p>published: 16.01.2018, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Meu primeiro post de teste no meu proprio blog.</p>
        </div>

        <div>
            <p>published: 16.01.2014, 14:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Meu segundo post tambem foi um sucesso.</p>
        </div>
    </body>
</html>